    /* Global Styles */
    
    * {
        margin: 0;
        padding: 0;
        outline: none;
        box-sizing: border-box;
        text-decoration: none;
        list-style-type: none;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
    }
    
     :root {
        --black: #424B54;
        --white: #FFFBFF;
        --grey: #c0c0c0;
        --lightBlue: #ECF3FE;
        --blue: #71A9F7;
        --transition: ease-in-out .2s;
    }
    
    body {
        height: 100vh;
    }
    
    html {
        font-size: 62.5%;
        scroll-behavior: smooth;
    }
    
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .section-heading {
        font-size: 5rem;
        color: var(--grey);
        text-transform: uppercase;
        letter-spacing: 0.5rem;
        margin-bottom: 15rem;
        border-bottom: 0.3rem solid var(--grey);
        text-shadow: 0.1rem 0.1rem 0.4rem rgba(0, 0, 0, 0.5);
    }
    /* End Global Styles */
    /* Section 1 */
    
    .section-1 {
        width: 100%;
        height: 100vh;
        background: linear-gradient( rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.3)), url(images/keyboard.jpg) center no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .section-1-heading {
        font-size: 6rem;
        margin-top: 11.5rem;
        font-weight: 700;
        color: var(--white);
        background-color: var(--blue);
        padding: 0 3rem;
        margin-bottom: 5rem;
        text-transform: uppercase;
        letter-spacing: 1.2rem;
        border-bottom: 0.3rem solid var(--white);
        text-shadow: 0.2rem 0.2rem 1rem var(--black);
        box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.9);
        border-radius: 0.3rem;
    }
    
    .person-img {
        width: 25rem;
        height: 25rem;
        object-fit: cover;
        border: 1rem solid var(--white);
        padding: 0.8rem;
        box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.9);
        border-radius: 0.3rem;
    }
    
    .person-img img {
        border-radius: 0.3rem;
        padding: .6rem;
        width: 25rem;
        height: 25rem;
        object-fit: cover;
        border: 1rem solid var(--white);
    }
    
    .person-name {
        font-size: 2rem;
        color: var(--white);
        background-color: var(--blue);
        margin: 5rem 0;
        padding: 0.5rem 3rem;
        letter-spacing: 0.2rem;
        border-bottom: 0.3rem solid var(--white);
        text-shadow: 0.2rem 0.2rem 1rem var(--black);
        box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.9);
        border-radius: 0.3rem;
    }
    
    .section-1-btn {
        font-size: 1.7rem;
        font-weight: 700;
        color: var(--white);
        padding: 0.5rem;
        text-transform: uppercase;
        letter-spacing: 0.3rem;
    }
    
    .section-1-btn i {
        font-size: 6.5rem;
    }
    
    @keyframes bounce {
        from {
            transform: translateY(0px);
        }
        to {
            transform: translateY(-15px);
        }
    }
    
    @-webkit-keyframes bounce {
        from {
            transform: translateY(0px);
        }
        to {
            transform: translateY(-15px);
        }
    }
    
    .section-1-btn i:hover {
        color: var(--blue);
        transition: var(--transition);
        animation: bounce .4s infinite alternate;
        -webkit-animation: bounce .4s infinite alternate;
    }
    /* End of Section 1 */
    /* Navbar */
    
    .navbar {
        width: 100%;
        height: 4rem;
        background-color: var(--blue);
        box-shadow: 0.2rem 0.2rem 0.5rem #555;
        position: absolute;
        z-index: 400;
    }
    
    .navbar-mobile {
        display: none;
        position: fixed;
        width: 100%;
        height: 4rem;
        background-color: var(--blue);
        box-shadow: 0.2rem 0.2rem 0.5rem #555;
        position: absolute;
        z-index: 400;
    }
    
    .sticky {
        position: fixed;
        top: 0;
    }
    
    .navbar-link {
        font-size: 1.7rem;
        font-weight: 600;
        color: var(--black);
        margin: 0 3rem;
        letter-spacing: 0.3rem;
        text-transform: uppercase;
        position: relative;
        transition: color 0.2s;
    }
    
    .change.navbar-link {
        color: var(--white);
    }
    
    .navbar-link:hover {
        color: var(--white);
    }
    
    .navbar-link::before {
        content: "";
        width: 0;
        height: 0.2rem;
        background-color: var(--white);
        position: absolute;
        right: -15%;
        bottom: -0.3rem;
        transition: width 0.2s;
    }
    
    .change.navbar-link::before {
        width: 130%;
    }
    
    .navbar-link:hover::before {
        width: 130%;
    }
    /* End of Navbar */
    /* Section 2 */
    
    .section-2-heading {
        border-bottom: none;
        text-shadow: none;
        color: var(--black);
    }
    
    .section-2-title {
        margin-bottom: 0.25rem;
        display: flex;
        justify-content: center;
    }
    
    .section-2-subtitle {
        background: var(--blue);
        color: var(--white);
        padding: 1.5rem 2rem;
        margin-bottom: 1rem;
        box-shadow: 0 .5rem 2rem rgba(0, 0, 0, 0.4);
        font-size: 3rem;
        letter-spacing: .5rem;
    }
    
    .section-2-text {
        padding: 5rem;
        font-size: 1.7rem;
        color: var(--black);
    }
    
    .section-2 {
        max-width: 1100px;
        max-height: 100%;
        margin: 0 auto;
        padding: 20rem 1rem;
    }
    
    @media (max-width: 700px) {
        .section-2-text {
            padding: 2rem;
            font-size: 1.3rem;
        }
        .section-2-subtitle {
            font-size: 2rem;
        }
    }
    
    @media (min-width: 600px) {
        .section-2 {
            display: grid;
            grid-template-columns: 1fr 200px;
            grid-template-areas: "title div" "subtitle div" "text div";
            grid-column-gap: 2em;
        }
        .section-2-grid {
            grid-area: title;
        }
        .subtitle-grid {
            grid-column: 1 / -1;
            grid-row: 2;
            position: relative;
            left: -1em;
            width: calc(100% + 2em);
            padding-left: 1em;
            padding-right: calc(200px + 4em);
        }
        .section-2-div {
            grid-area: div;
            position: relative;
            z-index: 2;
            display: block;
            max-width: 3rem;
            height: 100%;
            background: var(--blue);
        }
    }
    /* End of Section 2 */
    /* Section 3 */
    
    .section-3 {
        width: 100%;
        height: 100%;
        padding: 10rem 0;
        background-color: var(--grey);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .section-3-heading {
        color: var(--white);
        border-bottom: .3rem solid var(--white);
    }
    
    .projects-wrapper {
        width: 80%;
        flex-wrap: wrap;
    }
    
    .project {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1rem;
        background-color: var(--white);
        box-shadow: 0.3rem 0.3rem 0.5rem var(--grey);
        position: relative;
        overflow: hidden;
        transition: box-shadow 0.5s;
    }
    
    .project:hover {
        box-shadow: 1rem 1rem 1rem var(--grey);
    }
    
    .project-text {
        text-align: center;
        letter-spacing: 0.1rem;
        position: absolute;
        top: -10rem;
        z-index: 10;
        transition: top 0.3s;
    }
    
    .project:hover .project-text {
        top: 5rem;
        transition: top 0.3s 0.3s;
    }
    
    .project-name {
        font-size: 3rem;
        font-weight: 700;
        color: var(--black);
        text-transform: capitalize;
    }
    
    .project-technologies {
        font-size: 1.8rem;
        color: var(--blue);
    }
    
    .project-img {
        width: 40rem;
        transition: opacity 0.3s;
    }
    
    .project:hover .project-img {
        opacity: 0.2;
    }
    
    .project-link {
        font-size: 2rem;
        font-weight: 500;
        color: var(--blue);
        letter-spacing: 0.1rem;
        border: 0.3rem solid var(--blue);
        padding: 0 1rem;
        background-color: var(--white);
        position: absolute;
        bottom: -5rem;
        transition: bottom 0.3s;
    }
    
    .project:hover .project-link {
        bottom: 5rem;
        transition: bottom 0.3s 0.3s;
    }
    /* End of Section 3 */
    /* Section 4 */
    
    .section-4 {
        width: 100%;
        height: 70vh;
        background-color: var(--black);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .section-4-heading {
        color: var(--white);
        box-shadow: none;
        border-color: var(--white);
        margin-bottom: 5rem;
    }
    
    .contact-form {
        width: 50rem;
        flex-direction: column;
    }
    
    .contact-form input,
    .contact-form textarea {
        width: 100%;
        padding: 0.5rem;
        margin: 0.5rem 0;
        background-color: var(--white);
        font-size: 1.5rem;
        border: 0.2rem solid var(--blue);
        color: var(--black);
    }
    
    .contact-form textarea {
        height: 10rem;
        max-height: 15rem;
        max-width: 100%;
    }
    
    .contact-form .contact-form-btn {
        background-color: var(--blue);
        color: var(--white);
        text-transform: uppercase;
        letter-spacing: 1rem;
        cursor: pointer;
    }
    /* End of Section 4 */
    /* Section 5 */
    
    .section-5 {
        width: 100%;
        height: 30vh;
        background-color: var(--black);
        flex-direction: column;
    }
    
    .social-media {
        margin-bottom: 5rem;
    }
    
    .social-media-link {
        margin: 0 2rem;
        padding: 0.7rem;
        background-color: var(--blue);
        border-radius: 0.5rem;
        display: inline-block;
    }
    
    .social-media-link i {
        font-size: 3rem;
        color: var(--white);
    }
    /* End of Section 5 */
    
    .scroll-btn {
        position: fixed;
        right: 5rem;
        bottom: 5rem;
        width: 4.5rem;
        height: 4.5rem;
        background-color: var(--blue);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        color: var(--white);
        box-shadow: 0 0.1rem 0.6rem rgba(0, 0, 0, 0.2);
        border-radius: 0.3rem;
        z-index: 999;
    }
    /* Responsive */
    
    @media (max-width: 1200px) {
        .services {
            height: auto;
            flex-wrap: wrap;
        }
        .service {
            margin: 3rem 2rem;
        }
        .section-4 {
            height: 80vh;
        }
    }
    
    @media (max-width: 800px) {
        .section-1-heading {
            font-size: 4rem;
        }
        .section-1 {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
        .progress-bar {
            width: 50rem;
        }
        .navbar {
            display: none;
        }
        .navbar-mobile {
            display: initial;
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            width: 100%;
            height: 6rem;
            background-color: var(--blue);
            box-shadow: 0.2rem 0.2rem 0.5rem var(--grey);
            z-index: 400;
            top: 0;
        }
        .nav-link {
            font-size: 1.4rem;
            font-weight: 600;
            color: var(--black);
            margin: 0 1rem;
            letter-spacing: 0.3rem;
            text-transform: uppercase;
            transition: color 0.2s;
        }
        .nav-link:hover {
            color: var(--white);
        }
        .nav-link:active {
            color: var(--white);
        }
    }
    
    @media (max-width: 600px) {
        .section-1-heading {
            font-size: 3rem;
            text-align: center;
        }
        .navbar-link {
            margin: 0 2rem;
            font-size: 1.5rem;
        }
        .section-2 {
            padding: 10rem;
        }
        .progress-bar {
            width: 45rem;
        }
        .project-img {
            width: 100%;
        }
        .contact-form {
            width: 40rem;
        }
        .copyright {
            width: 70%;
        }
        .scroll-btn {
            display: none;
        }
    }
    
    @media (max-width: 500px) {
        html {
            font-size: 55%;
        }
    }
    
    @media (max-width: 450px) {
        html {
            font-size: 45%;
        }
        .section-1-heading {
            font-size: 2.5rem;
        }
        .navbar-link {
            margin: 0 1.5rem;
        }
        .progress-bar {
            width: 40rem;
        }
    }
    /* End of Responsive */